[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%Cgreen%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[user]
	name = Dorian Patterson
	email = imaginationac@gmail.com
[core]
	editor = "gvim -f"
	excludesfile = /home/dorian/.gitignore
	autocrlf = input
	safecrlf = true
[color]
	ui = true
[merge]
	tool = gvimdiff
